{% extends 'base.html' %}
{% load staticfiles %}

{% block carousel %}	
	<div id="unicorn-slideshow" class="unicorn-slideshow">
    <div class="container">
      <div id='unicorn_slider_wrapper' class='unicorn_slider_wrapper fullwidthbanner-container' >
        <div id='unicorn-rev-slider' class='rev_slider fullwidthabanner'>
          <ul>
            <li data-transition='random' data-slotamount='7' data-masterspeed='1000' 
            data-thumb='{% static "images/2.jpg" %}'><img src='{% static "images/3.jpg" %}'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="slider-image1" />
              <div class="info">
                <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='0'  data-y='100'  data-endspeed='500'  data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;'><span>Проектирование - Дизайн - Интерьер</span></div>
                <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='0'  data-y='195'  data-endspeed='500'  data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'><span>Добро пожаловать</span></div>
                <div class='tp-caption sfb  tp-resizeme ' data-x='0'  data-y='400'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='{% url "services" %}' class="buy-btn">Наши услуги</a></div>
                <div    class='tp-caption Title sft  tp-resizeme ' data-x='0'  data-y='320'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
              </div>
            </li>
            <li data-transition='random' data-slotamount='7' data-masterspeed='1000' 
            data-thumb='{% static "images/3.jpg" %}'><img src='{% static "images/2.jpg" %}'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="slider-image2"  />
              <div class="info">
                <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='0'  data-y='100'  data-endspeed='500'  data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;'><span>Photography - Portfolio - Advertismnet</span></div>
                <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='0'  data-y='195'  data-endspeed='500'  data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'><span>Creative Design</span></div>
                <div class='tp-caption sfb  tp-resizeme ' data-x='0'  data-y='400'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='{% url "portfolio" %}' class="buy-btn">Наше портфолио</a></div>
                <div    class='tp-caption Title sft  tp-resizeme ' data-x='0'  data-y='320'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>Farm Fresh Produce Right to Your Door</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock carousel %}			

{% block about %}
		<section class="about" id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3>Добро пожаловать</h3>
							<p>О нас</p>
						</div>
						<div class="block">
							<div class="col-md-12 padd25 no-padding-top no-padding-bottom padding-left-15">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla. Donec a neque libero. Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem. </p>
							</div>
							<div class="padd25 no-padding-top no-padding-bottom padding-left-15">
								<img src="{% static 'photos/about.jpg' %}" alt="" class="img-responsive">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock about %}

{% block services %}
		<section class="service" id="service">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3>Что мы делаем</h3>
							<p>Коротко о наших услугах</p>
						</div>
						<div class="block">
							<div class="col-md-3">
								<div class="st-feature">
									<div class="st-feature-icon"><i class="fa fa-cog"></i></div>
									<strong class="st-feature-title">Fully Responsive</strong>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="st-feature">
									<div class="st-feature-icon"><i class="fa fa-university"></i></div>
									<strong class="st-feature-title">Simple and Clean</strong>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="st-feature">
									<div class="st-feature-icon"><i class="fa fa-comments-o"></i></div>
									<strong class="st-feature-title">Easy to Customize</strong>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="st-feature">
									<div class="st-feature-icon"><i class="fa fa-life-ring"></i></div>
									<strong class="st-feature-title">Creative Design</strong>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock services %}

{% block c2a %}
		<section class="call-2-acction" data-stellar-background-ratio="0.4">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="c2a">
							<h2>Like Our Design?</h2>
							<p>Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla. Donec a neque libero.</p>
							<a href="{% url 'contacts' %}" class="btn btn-main btn-lg">Свяжись с нами</a>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock c2a %}

{% block portfolio %}
		<section class="portfolio" id="portfolio">
			<div class="container-fluid ">
				<div class="row">
					<div class="col-md-12 no-padding ">
						<div class="section-title st-center">
							<h3>что мы уже сделали</h3>
							<p>Некоторые фото из нашего портфолио</p>
							<a href="{% url 'portfolio' %}" class="btn btn-main btn-lg">Все фото из портфолио</a>
						</div>
					</div>
				</div>
				<div class="row">
					{% for item in photos %}	
						<div class="col-md-4 col-sm-6 no-padding">
							<a href='{% url "portfolio" %}'><img src="{{ item.photo.url }}" class='img-responsive' /></a>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
{% endblock portfolio %}

		<section class="clients">
			
		</section>

{% block testimonials %}
		<section class="testimonials">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="testimonials-carousel">
							<ul>
							{% for feedback in feedbacks %}
								<li>
									<div class="testimonial">
										<div class="testimonial-img">
											<img src="{{ feedback.photo.url }}" width="200px" height="200px">
										</div>
										<blockquote>
											<p>{{ feedback.text }}</p>
											<footer>{{ feedback.name }}
											<!-- , <cite title="Source Title">Example Inc.</cite> -->
											</footer>
										</blockquote>
									</div>
								</li>
							{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock testimonials %}

{% block pricing %}
		<section class="pricing" id="pricing">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3>подробнее об услугах</h3>
							<p>Индивидуальный подход</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="pricing-table">
							<div class="pricing-header">
								<div class="pt-price">Базовый</div>
							</div>
							<div class="pricing-body">
								<ul>
									<li><i class="fa fa-check"></i> 2GB Space</li>
									<li><i class="fa fa-check"></i> 10GB Bandwidth</li>
									<li><i class="fa fa-check"></i> Free Domain</li>
									<li><i class="fa fa-times"></i> Free Email</li>
									<li><i class="fa fa-times"></i> Free cPanel</li>
									<li><i class="fa fa-times"></i> Free FTP</li>
									<li><i class="fa fa-times"></i> Free Support</li>
								</ul>
							</div>
							<div class="pricing-footer">
								<a href="{% url 'services' %}" class="btn btn-default">Подробнее</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="pricing-table">
							<div class="pricing-header">
								<div class="pt-price">Standard</div>
							</div>
							<div class="pricing-body">
								<ul>
									<li><i class="fa fa-check"></i> 5GB Space</li>
									<li><i class="fa fa-check"></i> 50GB Bandwidth</li>
									<li><i class="fa fa-check"></i> Free Domain</li>
									<li><i class="fa fa-check"></i> Free Email</li>
									<li><i class="fa fa-times"></i> Free cPanel</li>
									<li><i class="fa fa-times"></i> Free FTP</li>
									<li><i class="fa fa-times"></i> Free Support</li>
								</ul>
							</div>
							<div class="pricing-footer">
								<a href="{% url 'services' %}" class="btn btn-default">Подробнее</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="pricing-table">
							<div class="pricing-header">
								<div class="pt-price">Premium</div>
							</div>
							<div class="pricing-body">
								<ul>
									<li><i class="fa fa-check"></i> 20GB Space</li>
									<li><i class="fa fa-check"></i> 1TB Bandwidth</li>
									<li><i class="fa fa-check"></i> Free Domain</li>
									<li><i class="fa fa-check"></i> Free Email</li>
									<li><i class="fa fa-check"></i> Free cPanel</li>
									<li><i class="fa fa-check"></i> Free FTP</li>
									<li><i class="fa fa-times"></i> Free Support</li>
								</ul>
							</div>
							<div class="pricing-footer">
								<a href="{% url 'services' %}" class="btn btn-default">Подробнее</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="pricing-table">
							<div class="pricing-header">
								<div class="pt-price">Luxury</div>
							</div>
							<div class="pricing-body">
								<ul>
									<li><i class="fa fa-check"></i> Unlimited Space</li>
									<li><i class="fa fa-check"></i> Unlimited Bandwidth</li>
									<li><i class="fa fa-check"></i> Free Domain</li>
									<li><i class="fa fa-check"></i> Free Email</li>
									<li><i class="fa fa-check"></i> Free cPanel</li>
									<li><i class="fa fa-check"></i> Free FTP</li>
									<li><i class="fa fa-check"></i> Free Support</li>
								</ul>
							</div>
							<div class="pricing-footer">
								<a href="{% url 'services' %}" class="btn btn-default">Подробнее</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock pricing %}

<!-- {% block faq %}
		<section class="faq-sec">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="tac">frequently asked questions</h2>
						<div class="section-title st-center">
							<h3>Some questions</h3>
							<p>Frequently asked questions</p>
						</div>
					</div>
				</div>
				<div class="block">
					<div class="col-md-6">
						<div class="faq">
							<h3><i class="fa fa-question-circle"></i> Minime paulo beatus stare?</h3>
							<p>Praesidium quaerat doloribus turpis fruuntur vocant postremo optimus utraque, veserim vitae appellant fructuosam, mediocris consistat impetu illae coniunctione modi consequentis nosque, vis qui deorum, poenis fuisse timorem ferae fastidium.</p>
						</div>
						<div class="faq">
							<h3><i class="fa fa-question-circle"></i> Ferentur interrogari diceret?</h3>
							<p>Pertinerent non importari, populo faciendi civium vetuit. Gravitate numquam praesentium fabulas. Abest ponatur ineruditus restat consoletur causam, ordiamur temperantiam repellat desistemus conquirendae molestia aiunt discenda monet.</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="faq">
							<h3><i class="fa fa-question-circle"></i> Dicent erigimur secutus fortunae?</h3>
							<p>Quarum difficilius aegritudo epularum municipem alias. Vidisse litteris, rationibus eadem, mandaremus maluisset, delectus terrore angusta deduceret numquam fidelissimae mens gravissimo propter, tradit, fastidium facta facerem qua quippiam vacuitate cupiditatum admirer navigandi.</p>
						</div>
						<div class="faq">
							<h3><i class="fa fa-question-circle"></i> Molestiae dedocere effluere?</h3>
							<p>Habeo mala nocet perpetiuntur legendos dicemus levitatibus abducat futura, occultarum probant vitae evertunt laudantium docendi difficilem, offendit concederetur tuo hortensio deserere, molita gaudemus titillaret difficilius, parum timeret unum molestiam omnis vitae.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock faq %} -->

{% block call %}
		<section class="call-us">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3>Если Вы заинтересованы в сотрудничестве</h3>
						<a href="{% url 'contacts' %}" class="btn btn-default-o btn-lg">Свяжитесь с нами</a>
					</div>
				</div>
			</div>
		</section>
{% endblock call %}

{% block subscribe %}
		<section class="subscribe">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3 class="subscribe-title">подпишитесь на новости дизайна</h3>
					</div>

					<div class="col-md-8 col-md-offset-2">	
						<form action="{% url 'subscribe' %}" method="POST">{% csrf_token %}
							<div class="input-group">
								{{ form }}
								<span class="input-group-btn">
									<button class="btn btn-main btn-lg" type="submit">OK!</button>
								</span>
							</div>
						</form>
					</div>
					
					{% if success %}
					<div id="subscribe-result" class="col-md-6 col-md-offset-3 alert alert-warning" role="alert">	
						{{ success }}
					</div>
					{% endif %}

				</div>
			</div>
		</section>
{% endblock subscribe %}

{% block sharing %}
<div class="row">
	<div class='col-md-12'>
		<div id='sharing' class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter"></div>
	</div>
</div>
{% endblock %}


</body>
</html>