{% load staticfiles %}

		<header class="st-navbar">
			<nav class="navbar navbar-default navbar-fixed-top clearfix" >
				<div class="container"><!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sept-main-nav">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'photos/logo3.png' %}" alt="" class="img-responsive"></a>
					</div>
					
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse main-nav" id="sept-main-nav">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="{% url 'home' %}">Главная</a></li>
							<li><a href="{% url 'portfolio' %}">Портфолио</a></li>
							<li><a href="{% url 'services' %}">Услуги</a></li>
							<li><a href="{% url 'blog' %}">Статьи</a></li>
							<li><a href="{% url 'contacts' %}">Контакты</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>
			</nav>
		</header>
		
