{% extends 'base.html' %}
{% load staticfiles %}

{% block services %}

<section class="services" id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="section-title st-center">
          <p>Услуги</p>
        </div>
        <div>
          <ol>
            <li>Предпроектный анализ и планировочное решение
              <ol>
                <li>Выезд на объект</li>
                <li>Выполнение обмерного чертежа с указанием инженерных коммуникаций</li>
                <li>Разработка нескольких вариантов планировочных решений</li>
              </ol>
            </li>
            <li>Разработка концепции и эскизный проект (коллаж, фотографии,предварительное колористическое решение интерьера) подбор отделочных материалов, мебели и оборудования.</li>
            <li>Архитектурно - дизайнерское проектирование ( РАБОЧИЙ ПРОЕКТ)
              <ol>
                <li>Обмерный чертеж с привязкой инженерных коммуникаций</li>
                <li>План демонтажа перегородок и инженерных коммуникаций</li>
                <li>План возводимых перегородок с маркировкой оконных и дверных проемов</li>
                <li>План размещения оборудования</li>
                <li>План размещения санитарно - технического оборудования с привязкой выпусков и приложением монтажных чертежей.</li>
                <li>Спецификация и смета сантехнического оборудования</li>
                <li>План потолков и с указанием типа используемого материала, отдельных узлов и сечений. ( Количество чертежей зависит от уровня сложности потолочных конструкций)</li>
                <li>План полов с указанием отметки уровня пола, рисунка и размеров. (Экспликация напольных покрытий с указанием площади)</li>
                <li>План размещения электрического пола с привязкой регулятора</li>
                <li>План размещения радиаторов</li>
                <li>План размещения осветительных приборов с привязками</li>
                <li>Разрезы и развертки стен, с раскладкой плитки и декоративными элементами</li>
                <li>Схема размещения кондиционеров</li>
                <li>План размещения розеток и выключателей</li>
                <li>3D Визуализация</li>
              </ol>
            </li>
            <li>Авторский надзор за строительством и декорированием интерьера ( Кол-во выездов на объект по согласованию с заказчиком а так же строительной бригадой)
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row">
  <div class="col-md-8">
  </div>
</div>
{% endblock services %}
